<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <title>  {% block title %}Real Estate Sale{% endblock title %}</title>
  </head>
  <body style="background-image: linear-gradient(40deg, #00a4a6, #0c2231);">
    <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
      <div class="container-fluid">
        <h2><a class="navbar-brand" href="http://127.0.0.1:8000/">Real Estate Store
          <svg xmlns="icons\house-fill.svg" width="22" height="22" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
          </svg>
        </a></h2>
        <a class="btn btn-outline-info" href="{% url "cart_detail" %}">Cart</a>
      </div>
    </nav>


    <main style="background-image: linear-gradient(40deg, #00a4a6, #0c2231);">
      <div class="container-fluid">
        {% block content %}
        {% endblock content %}
      </div>
    </main>

  </body>
</html>
