{% extends 'base.html' %}

{% block title %}Create{% endblock title %}

{% block content %}
  <div class="d-flex justify-content-center" style="padding: 20px 20px;">
    <div class="card text-white bg-dark mb-3" style="width: 40rem;">
      <div class="card-header">Your Order</div>
      <div class="card-body">
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Address</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            {% for realestate_id, value in cart.cart.items %}
            <tr>
              <th scope="row"> &middot;</th>
              <td>{{value.full_address}}</td>
              <td>${{value.price}}</td>
            {% endfor %}
            <tr>
              <th scope="row"></th>
              <td></td>
              <td>${{cart.full_price}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-header">Your Information</div>
      <form class="container-fluid align-self-center" method="Post">
        <div class="align-self-center">
          {{form.as_p}}
          {% csrf_token %}
        </div>
        <div class="card-footer d-flex justify-content-between ">
          <a href="http://127.0.0.1:8000/cart">Back to cart</a>
          <button type="submit" value="Order" class="btn btn-outline-success">Confirm</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
